.main-inputs{
    padding: 6px 32px;
    outline: none;
    border: none;
    display: block;
    border-radius: 12px;
    background: #f5f5f5;
    box-shadow:  8px 8px 16px #cccccc,
    -8px -8px 16px #ffffff;
    margin: 12px 5px;
    min-width: 50%;
    &::placeholder{
        opacity: 0.7;
    }
    &:focus{
        background-color: #ffffff;
    }
}

@media screen and (max-width: 725px){
    .main-inputs{
        min-width: 70%;
    }
}